@charset "UTF-8";
/*Globales*/
/*Colores*/
/*Color azul principal*/
/*Tamaños segun caso*/
/*Colores segun casos*/
/*Selected*/
/*Confirm*/
/*Error*/
/*Warning*/
/*Tamanos de containers*/
/*Secciones de la pagina*/
/*Maps*/
/*Tamanos de las miniaturas de los juegos*/
/*Assets*/
/*Status y condiciones*/
.selected-status {
  background: #CED5DA;
}

.confirm-status {
  background-color: lightgreen;
}

.error-status {
  background-color: lightcoral;
}

.warning-status {
  background-color: rgb(251, 251, 150);
}

/*Definir tamaños de las letras dependiendo de los distintos casos.*/
.txt {
  font-size: 16px;
}
.txt-title {
  font-size: 32px;
}
.txt-subtitle {
  font-size: 24px;
}
.txt-p {
  font-size: 19.2px;
}
.txt-quote {
  font-size: 12.8px;
}
.txt-input-info {
  font-size: 8px;
}

/*Sombras*/
.bxShadow {
  -webkit-box-shadow: 0px 7px 10px 2px rgb(241, 235, 235);
          box-shadow: 0px 7px 10px 2px rgb(241, 235, 235);
}

/*Mixins*/
/*Secciones semanticas de la pagina*/
header {
  height: 12vh;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  width: 100%;
  background-color: white;
}
header > div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 12vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}
header > div:first-child > img {
  height: 60%;
}
header > div:last-child {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#banner {
  height: 85vh;
  width: 100%;
  margin-top: 10vh;
  -webkit-box-shadow: 0 9px 8px 8px #dbd7d7;
          box-shadow: 0 9px 8px 8px #dbd7d7;
}
#banner > div:first-child {
  height: 70%;
  background-image: url("https://image.api.playstation.com/pr/bam-art/180/850/1c6f9e1f-c0db-4229-9cb1-12f2dee4c3f0.png?w=1920&thumb=false");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#banner > div:first-child img {
  height: 80%;
  position: relative;
  left: 23vw;
  top: 5vh;
}
#banner > div:last-child {
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5vw;
}
#banner > div:last-child > div:first-child p:first-child {
  font-size: 4em;
}
#banner > div:last-child > div:first-child p:last-child {
  font-size: 0.9em;
}
#banner > div:last-child > div:last-child {
  padding-top: 5vh;
}
#banner > div:last-child > div:last-child button {
  padding: 8px 16px;
  background-color: #005499;
  border-radius: 20px;
  border: none;
  color: white;
  font-weight: bold;
}

#destacados {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3vw;
}
#destacados > div {
  min-width: 20vw;
  aspect-ratio: 1/1;
  margin: 0.7vw;
  border-radius: 12px;
  background-size: contain;
}
#destacados > div:nth-child(1) {
  background-image: url("https://image.api.playstation.com/pr/bam-art/179/741/acd823c7-aedf-41a6-ab02-c159d6d94fa7.jpg?w=440&thumb=false");
}
#destacados > div:nth-child(2) {
  background-image: url("https://image.api.playstation.com/pr/bam-art/176/978/c5e7e0d7-0e08-45d8-a273-dbfee9b1e259.jpg?w=440&thumb=false");
}
#destacados > div:nth-child(3) {
  background-image: url("https://image.api.playstation.com/pr/bam-art/170/756/69618247-3f96-421e-98f5-b14501fb2aaa.jpg?w=440&thumb=false");
}
#destacados > div:nth-child(4) {
  background-image: url("https://image.api.playstation.com/pr/bam-art/179/712/954ceda1-c86c-42cc-bd63-28d8e294252e.jpg?w=440&thumb=false");
}
#destacados > div:nth-child(5) {
  background-image: url("https://image.api.playstation.com/pr/bam-art/179/712/00be3da3-5dee-40cd-93b6-68ec59c7fc22.jpg?w=440&thumb=false");
}
#destacados > div:nth-child(6) {
  background-image: url("https://image.api.playstation.com/pr/bam-art/174/047/8a28b094-4d8b-4854-a841-e54d59c6fdb0.jpg?w=440&thumb=false");
}

#top10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vw;
}
#top10 #carousel-top10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#top10 #carousel-top10 .cProducts:nth-child(1) > .c-p-img {
  background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202405/0218/6d6040594205ce3edbfb049d02f4fb12dd4695e354c47db0.png?w=230&thumb=false");
}
#top10 #carousel-top10 .cProducts:nth-child(2) > .c-p-img {
  background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202311/2801/803e41fee0edf8f8ed1de518e6eac60ddf30ac485b9a16a2.png?w=230&thumb=false");
}
#top10 #carousel-top10 .cProducts:nth-child(3) > .c-p-img {
  background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202406/1421/5811b9a8ab59c7703c3d4f0a60748c029208aed35f28d7f3.png?w=230&thumb=false");
}
#top10 #carousel-top10 .cProducts:nth-child(4) > .c-p-img {
  background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202312/0802/b6fcfd97546f4b8ccb8f87f84a01d77a473a16664692ddde.png?w=230&thumb=false");
}
#top10 #carousel-top10 .cProducts:nth-child(5) > .c-p-img {
  background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202306/2609/278035a1f94e3a07d4d0f74cd61b987af14a833b65a56cd2.png?w=230&thumb=false");
}
#top10 #carousel-top10 .cProducts:nth-child(6) > .c-p-img {
  background-image: url("https://image.api.playstation.com/vulcan/ap/rnd/202202/2816/K6mmm89oNII1iI1aqaClO0wh.png?w=230&thumb=false");
}
#top10 #carousel-top10 .c-p-img {
  max-width: 14vw;
  aspect-ratio: 1/1;
  background-size: contain;
  border-radius: 8px;
}
#top10 #carousel-top10 .c-p-categorizer {
  display: none;
}
#top10 #carousel-top10 .c-p-save {
  display: none;
}
#top10 #carousel-top10 .c-p-price {
  display: none;
}
#top10 .cProducts {
  width: 14vw;
}

/*Componentes web*/
/*Suponiendo que estamos en la metodologia BEM*/
.badge, .badge--error, .badge--confirm {
  padding: 5px 14px;
  border-radius: 18px;
  font-weight: bold;
}
.badge:hover, .badge--error:hover, .badge--confirm:hover {
  background-color: #dce5ed;
  cursor: pointer;
}
.badge--confirm {
  background: lightgreen;
}
.badge--confirm:hover {
  background: #c5f3ce;
  cursor: pointer;
}
.badge--error {
  background: lightcoral;
}
.badge--error:hover {
  background: rgb(254, 190, 190);
  cursor: pointer;
}

/*Ensayo para probar error*/
#tester {
  color: red;
}

/*Parcial de ejemplo*/