/*Suponiendo que estamos en la metodologia BEM*/
.badge{
  padding: 5px 14px;
  border-radius: 18px;
  font-weight: bold;
  &:hover{
    background-color: $selected-hover;
    cursor: pointer;
  }
  &--confirm{
    @extend .badge;
    background: $confirm;
    &:hover{
      background: $confirm-hover;
      cursor: pointer;
    }
  }
  &--error{
    @extend .badge;
    background: $error;
    &:hover{
      background: $error-hover;
      cursor: pointer;
    }
  }
}


/*Ensayo para probar error*/
#tester{
  $verde: "rojo";
  @if map-has-key($colores , $verde ){
    color: buscarColor($colores, $verde);
  }@else{
    @error "color buscado invalido, debe decir azul o rojo."
  }
}